---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '159'
      Etag:
      - W/"7c15-ONL8JQCc6DJ/uLzK/NgdjW5mtBk"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"bitcoin","rank":"1","symbol":"BTC","name":"Bitcoin","supply":"17362962.0000000000000000","maxSupply":"21000000.0000000000000000","marketCapUsd":"111523554749.5747108724488662","volumeUsd24Hr":"2811332115.5495715502045958","priceUsd":"6423.0719821637984851","changePercent24Hr":"0.3221953333509996","vwap24Hr":"6421.7652022954768109"},{"id":"ethereum","rank":"2","symbol":"ETH","name":"Ethereum","supply":"103038337.0000000000000000","maxSupply":null,"marketCapUsd":"22153889071.6026160844294675","volumeUsd24Hr":"1011097213.3671239689409531","priceUsd":"215.0062754953296275","changePercent24Hr":"3.9031856846612199","vwap24Hr":"211.7232197393065797"},{"id":"ripple","rank":"3","symbol":"XRP","name":"XRP","supply":"40205513967.0000000000000000","maxSupply":"100000000000.0000000000000000","marketCapUsd":"213[...]
[...]
