---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '179'
      Etag:
      - W/"7c16-kWHx1GBOt/kQIKFINrEzsolIgNs"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"bitcoin","rank":"1","symbol":"BTC","name":"Bitcoin","supply":"17362962.0000000000000000","maxSupply":"21000000.0000000000000000","marketCapUsd":"111607517003.2466601594812238","volumeUsd24Hr":"2808753468.0905157401407969","priceUsd":"6427.9076924344279599","changePercent24Hr":"0.4129769687908307","vwap24Hr":"6421.7652022954768109"},{"id":"ethereum","rank":"2","symbol":"ETH","name":"Ethereum","supply":"103038337.0000000000000000","maxSupply":null,"marketCapUsd":"22190668534.0370931475148761","volumeUsd24Hr":"1012192656.8347435339664151","priceUsd":"215.3632247969713753","changePercent24Hr":"3.9777416722973889","vwap24Hr":"211.7232197393065797"},{"id":"ripple","rank":"3","symbol":"XRP","name":"XRP","supply":"40205513967.0000000000000000","maxSupply":"100000000000.0000000000000000","marketCapUsd":"213[...]
[...]
