---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/exchanges
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '177'
      Etag:
      - W/"4614-ocmW/7fpc+ySqcFva2ptSAKzp0E"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"exchangeId":"bithumb","name":"Bithumb","rank":"1","percentTotalVolume":"17.063003313344593136000000000000000000","volumeUsd":"1138160414.4227957020504296","tradingPairs":"28","socket":false,"exchangeUrl":"https://www.bithumb.com/","updated":1541535889710},{"exchangeId":"binance","name":"Binance","rank":"2","percentTotalVolume":"13.656086425414895704000000000000000000","volumeUsd":"910907458.6645624714467371","tradingPairs":"380","socket":true,"exchangeUrl":"https://www.binance.com/","updated":1541535939926},{"exchangeId":"okex","name":"Okex","rank":"3","percentTotalVolume":"11.671740962877239442000000000000000000","volumeUsd":"778544860.3268168499865865","tradingPairs":"498","socket":false,"exchangeUrl":"https://www.okex.com/","upd[...]
[...]
