---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '176'
      Etag:
      - W/"7c06-C5+pSFz8MskH7/zFUlCxHAAusOo"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"exchangeId":"acx","rank":"1","baseSymbol":"BTC","baseId":"bitcoin","quoteSymbol":"AUD","quoteId":"australian-dollar","priceQuote":"8899.7800000000000000","priceUsd":"6421.1513625442813589","volumeUsd24Hr":"1284990.5368301815146945","percentExchangeVolume":"74.6524820181852529","tradesCount24Hr":"289","updated":1541535096564},{"exchangeId":"acx","rank":"2","baseSymbol":"BCH","baseId":"bitcoin-cash","quoteSymbol":"AUD","quoteId":"australian-dollar","priceQuote":"837.8800000000000000","priceUsd":"604.5266628667902426","volumeUsd24Hr":"297855.2439131030601932","percentExchangeVolume":"17.3041221728340779","tradesCount24Hr":"413","updated":1541535096594},{"exchangeId":"acx","rank":"3","baseSymbol":"ETH","baseId":"ethereum","quoteSymbol":"AUD","quoteId":"australian-dollar","priceQuote":"296.2900000000000000[...]
[...]
