---
http_interactions:
- request:
    method: get
    uri: https://shapeshift.io/recenttx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c8-x8e2Or5GId55a/3B2mQYVvCzFBs"
    body:
      encoding: ASCII-8BIT
      string: '[{"curIn":"ETC","curOut":"ETH","timestamp":1541535759.403,"amount":0.19458,"txid":562802},{"curIn":"ETC","curOut":"BTC","timestamp":1541535679.328,"amount":6.34111281,"txid":923388},{"curIn":"LTC","curOut":"BTC","timestamp":1541535604.823,"amount":7.48376157,"txid":919890},{"curIn":"DOGE","curOut":"BTC","timestamp":1541535570.937,"amount":3000,"txid":196678},{"curIn":"DOGE","curOut":"ETH","timestamp":1541535343.999,"amount":523.99103207,"txid":314322}]'
  recorded_at: Tue, 06 Nov 2018 20:25:55 GMT
[...]
- request:
    method: get
    uri: https://shapeshift.io/recenttx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bd-xnA3059zfIkGgp3QLmmDCiL4TRc"
    body:
      encoding: ASCII-8BIT
      string: '[{"curIn":"ETH","curOut":"DASH","timestamp":1541535849.316,"amount":13,"txid":31798},{"curIn":"ETC","curOut":"ETH","timestamp":1541535759.403,"amount":0.19458,"txid":348463},{"curIn":"ETC","curOut":"BTC","timestamp":1541535679.328,"amount":6.34111281,"txid":390845},{"curIn":"LTC","curOut":"BTC","timestamp":1541535604.823,"amount":7.48376157,"txid":207087},{"curIn":"DOGE","curOut":"BTC","timestamp":1541535570.937,"amount":3000,"txid":554245}]'
  recorded_at: Tue, 06 Nov 2018 20:25:59 GMT
recorded_with: VCR 4.0.0
