---
http_interactions:
- request:
    method: get
    uri: https://shapeshift.io/marketinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"21268-C4ZzT8zTTfuH2ln8VptO/WiSzW8"
    body:
      encoding: ASCII-8BIT
      string: '[{"rate":"3.52863366","limit":8.27924143,"pair":"BCH_DASH","maxLimit":16.55848286,"min":0.0011185,"minerFee":0.002},{"rate":"0.27752680","limit":29.57092836,"pair":"DASH_BCH","maxLimit":59.14185673,"min":0.000032,"minerFee":0.0000045},{"rate":"10.94308645","limit":8.27924143,"pair":"BCH_LTC","maxLimit":16.55848286,"min":0.00013565,"minerFee":0.00075},{"rate":"0.08975404","limit":91.43571245,"pair":"LTC_BCH","maxLimit":182.87142489,"min":0.00009923,"minerFee":0.0000045},{"rate":"5.34291937","limit":8.27924143,"pair":"BCH_XMR","maxLimit":16.55848286,"min":0.00740307,"minerFee":0.02},{"rate":"0.18368855",[...]
[...]
