---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/exchanges
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '177'
      Etag:
      - W/"4614-/sg/W1enNuAexb3XacclqVUhN4Y"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"exchangeId":"bithumb","name":"Bithumb","rank":"1","percentTotalVolume":"17.408437211027056685000000000000000000","volumeUsd":"1164183716.4310552410563922","tradingPairs":"28","socket":false,"exchangeUrl":"https://www.bithumb.com/","updated":1541535032711},{"exchangeId":"binance","name":"Binance","rank":"2","percentTotalVolume":"13.614423273474014617000000000000000000","volumeUsd":"910460237.8402315412878774","tradingPairs":"380","socket":true,"exchangeUrl":"https://www.binance.com/","updated":1541535090927},{"exchangeId":"okex","name":"Okex","rank":"3","percentTotalVolume":"11.605199641153538892000000000000000000","volumeUsd":"776094044.7660886261794913","tradingPairs":"498","socket":false,"exchangeUrl":"https://www.okex.com/","upd[...]
[...]
