---
http_interactions:
- request:
    method: get
    uri: https://shapeshift.io/recenttx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c8-x8e2Or5GId55a/3B2mQYVvCzFBs"
    body:
      encoding: ASCII-8BIT
      string: '[{"curIn":"ETC","curOut":"ETH","timestamp":1541535759.403,"amount":0.19458,"txid":562802},{"curIn":"ETC","curOut":"BTC","timestamp":1541535679.328,"amount":6.34111281,"txid":923388},{"curIn":"LTC","curOut":"BTC","timestamp":1541535604.823,"amount":7.48376157,"txid":919890},{"curIn":"DOGE","curOut":"BTC","timestamp":1541535570.937,"amount":3000,"txid":196678},{"curIn":"DOGE","curOut":"ETH","timestamp":1541535343.999,"amount":523.99103207,"txid":314322}]'
  recorded_at: Tue, 06 Nov 2018 20:25:55 GMT
[...]
- request:
    method: get
    uri: https://shapeshift.io/recenttx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d6-ZPvD3vjn8BMqC33qspUgPT4LGVI"
    body:
      encoding: ASCII-8BIT
      string: '[{"curIn":"ETH","curOut":"BTC","timestamp":1541536070.535,"amount":0.04975265014948691,"txid":345753},{"curIn":"ETH","curOut":"BTC","timestamp":1541536030.211,"amount":0.199699038121251,"txid":987294},{"curIn":"ETH","curOut":"BTC","timestamp":1541535969.945,"amount":0.02315029,"txid":41865},{"curIn":"BLK","curOut":"DGB","timestamp":1541535912.045,"amount":0.3999,"txid":943219},{"curIn":"ETC","curOut":"DASH","timestamp":1541535899.511,"amount":1.99916,"txid":428365}]'
  recorded_at: Tue, 06 Nov 2018 20:30:48 GMT
recorded_with: VCR 4.0.0
