---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '179'
      Etag:
      - W/"7c15-X6kNirydxhxIxxUSFf613IaWE9c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"bitcoin","rank":"1","symbol":"BTC","name":"Bitcoin","supply":"17362962.0000000000000000","maxSupply":"21000000.0000000000000000","marketCapUsd":"111523386954.4984999875403782","volumeUsd24Hr":"2811175714.8177233485031272","priceUsd":"6423.0623181976957611","changePercent24Hr":"0.3221953333509996","vwap24Hr":"6421.7652022954768109"},{"id":"ethereum","rank":"2","symbol":"ETH","name":"Ethereum","supply":"103038337.0000000000000000","maxSupply":null,"marketCapUsd":"22157124521.3125594544319305","volumeUsd24Hr":"1011246354.7627967025202419","priceUsd":"215.0376759410680265","changePercent24Hr":"3.9031856846612199","vwap24Hr":"211.7232197393065797"},{"id":"ripple","rank":"3","symbol":"XRP","name":"XRP","supply":"40205513967.0000000000000000","maxSupply":"100000000000.0000000000000000","marketCapUsd":"213[...]
[...]
