---
http_interactions:
- request:
    method: get
    uri: https://shapeshift.io/recenttx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b2-91P7Id7OcaUfePv30XuKS6HI0g0"
    body:
      encoding: ASCII-8BIT
      string: '[{"curIn":"ETC","curOut":"CVC","timestamp":1541534998.836,"amount":2,"txid":427795},{"curIn":"ETH","curOut":"DASH","timestamp":1541534965.276,"amount":15,"txid":919158},{"curIn":"BTC","curOut":"ZEC","timestamp":1541534881.262,"amount":0.01495265,"txid":761838},{"curIn":"ETH","curOut":"BTC","timestamp":1541534764.27,"amount":1,"txid":358423},{"curIn":"KMD","curOut":"DOGE","timestamp":1541534741.238,"amount":0.142065,"txid":644656}]'
  recorded_at: Tue, 06 Nov 2018 20:12:20 GMT
[...]
- request:
    method: get
    uri: https://shapeshift.io/recenttx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c9-svdl3uLq1UvMOsre8q9jFVLJsSw"
    body:
      encoding: ASCII-8BIT
      string: '[{"curIn":"DOGE","curOut":"ETH","timestamp":1541535343.999,"amount":523.99103207,"txid":613297},{"curIn":"ETC","curOut":"ZEC","timestamp":1541535299.061,"amount":0.71019175,"txid":402550},{"curIn":"KMD","curOut":"DGB","timestamp":1541535246.267,"amount":0.02112986,"txid":391131},{"curIn":"ETC","curOut":"DOGE","timestamp":1541535198.987,"amount":0.150783955,"txid":388057},{"curIn":"ETC","curOut":"CVC","timestamp":1541534998.836,"amount":2,"txid":290975}]'
  recorded_at: Tue, 06 Nov 2018 20:20:55 GMT
recorded_with: VCR 4.0.0
