---
http_interactions:
- request:
    method: get
    uri: https://shapeshift.io/marketinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"211b9-sJkNs8qfRmYaTy0ovCfeJANtpQc"
    body:
      encoding: ASCII-8BIT
      string: '[{"rate":"3.54722234","limit":8.26602812,"pair":"BCH_DASH","maxLimit":16.53205624,"min":0.00111432,"minerFee":0.002},{"rate":"0.27649172","limit":29.64569013,"pair":"DASH_BCH","maxLimit":59.29138026,"min":0.00003217,"minerFee":0.0000045},{"rate":"10.96906056","limit":8.26602812,"pair":"BCH_LTC","maxLimit":16.53205624,"min":0.00013543,"minerFee":0.00075},{"rate":"0.08961191","limit":91.469845,"pair":"LTC_BCH","maxLimit":182.93969,"min":0.00009947,"minerFee":0.0000045},{"rate":"5.34917787","limit":8.26602812,"pair":"BCH_XMR","maxLimit":16.53205624,"min":0.00739677,"minerFee":0.02},{"rate":"0.18353229","li[...]
[...]
