---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '179'
      Etag:
      - W/"7c19-r5vslZju9ZPOMv4RRboj+YlaNsk"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"bitcoin","rank":"1","symbol":"BTC","name":"Bitcoin","supply":"17362962.0000000000000000","maxSupply":"21000000.0000000000000000","marketCapUsd":"111626781574.3461268081922214","volumeUsd24Hr":"2804419333.9454578559639440","priceUsd":"6429.0172134423911547","changePercent24Hr":"0.3352473696997378","vwap24Hr":"6421.7652022954768109"},{"id":"ethereum","rank":"2","symbol":"ETH","name":"Ethereum","supply":"103038337.0000000000000000","maxSupply":null,"marketCapUsd":"22190902556.8194879548505318","volumeUsd24Hr":"1011476680.0430663341197540","priceUsd":"215.3654960174627814","changePercent24Hr":"3.6048847747237791","vwap24Hr":"211.7232197393065797"},{"id":"ripple","rank":"3","symbol":"XRP","name":"XRP","supply":"40205513967.0000000000000000","maxSupply":"100000000000.0000000000000000","marketCapUsd":"213[...]
[...]
