---
http_interactions:
- request:
    method: get
    uri: https://api.coincap.io/v2/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '176'
      Etag:
      - W/"7c06-dm9xA/jteSKqRPrWx1YAaA24GdU"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"exchangeId":"acx","rank":"1","baseSymbol":"BTC","baseId":"bitcoin","quoteSymbol":"AUD","quoteId":"australian-dollar","priceQuote":"8880.4800000000000000","priceUsd":"6407.2264990873077449","volumeUsd24Hr":"1291511.6933701776181837","percentExchangeVolume":"74.6189176398430191","tradesCount24Hr":"289","updated":1541535893210},{"exchangeId":"acx","rank":"2","baseSymbol":"BCH","baseId":"bitcoin-cash","quoteSymbol":"AUD","quoteId":"australian-dollar","priceQuote":"835.4700000000000000","priceUsd":"602.7878586734583042","volumeUsd24Hr":"299182.4212408279682944","percentExchangeVolume":"17.2856882089873482","tradesCount24Hr":"413","updated":1541535893250},{"exchangeId":"acx","rank":"3","baseSymbol":"ETH","baseId":"ethereum","quoteSymbol":"AUD","quoteId":"australian-dollar","priceQuote":"298.7600000000000000[...]
[...]
