---
http_interactions:
- request:
    method: get
    uri: https://shapeshift.io/getcoins
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2db6-ON2AAS1lhyb2zBY9t6W6mXef47A"
    body:
      encoding: ASCII-8BIT
      string: '{"BTC":{"symbol":"BTC","name":"Bitcoin","image":"https://shapeshift.io/images/coins/bitcoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/bitcoin.png","status":"available","minerFee":0.00025},"ANT":{"symbol":"ANT","name":"Aragon","image":"https://shapeshift.io/images/coins/aragon.png","imageSmall":"https://shapeshift.io/images/coins-sm/aragon.png","status":"available","minerFee":1.8671},"BCH":{"symbol":"BCH","name":"BitcoinCash","image":"https://shapeshift.io/images/coins/bitcoincash.png","imageSmall":"https://shapeshift.io/images/coins-sm/bitcoincash.png","status":"available","minerFee":0.0000045},"BTG":{"symbol":"BTG","name":"Bitcoin
        Gold","image":"https://shapeshift.io/images/coins/bitcoingold.png","imageSmall":"https://shapeshift.io/images/coins-sm/bitcoingold.png","status":"unavailable","minerFee":0.001},"BNT":{"symbol":"BNT","name":"Bancor","image":"https://shapeshift.io/images/coins/bancor.png","imageSmall":"https://shapeshift.io/images/coins-sm/bancor.png","status":"available","minerFee":0.5963},"BLK":{"symbol":"BLK","name":"Blackcoin","image":"https://shapeshift.io/images/coins/blackcoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/blackcoin.png","status":"available","minerFee":0.02},"CVC":{"symbol":"CVC","name":"Civic","image":"https://shapeshift.io/images/coins/civic.png","imageSmall":"https://shapeshift.io/images/coins-sm/civic.png","status":"available","minerFee":7.4577},"CLAM":{"symbol":"CLAM","name":"Clams","image":"https://shapeshift.io/images/coins/clams.png","imageSmall":"https://shapeshift.io/images/coins-sm/clams.png","status":"unavailable","minerFee":0.001},"DASH":{"symbol":"DASH","name":"Dash","image":"https://shapeshift.io/images/coins/dash.png","imageSmall":"https://shapeshift.io/images/coins-sm/dash.png","status":"available","minerFee":0.002},"DCR":{"symbol":"DCR","name":"Decred","image":"https://shapeshift.io/images/coins/decred.png","imageSmall":"https://shapeshift.io/images/coins-sm/decred.png","status":"unavailable","minerFee":0.03},"DGB":{"symbol":"DGB","name":"DigiByte","image":"https://shapeshift.io/images/coins/digibyte.png","imageSmall":"https://shapeshift.io/images/coins-sm/digibyte.png","status":"available","minerFee":0.01},"DNT":{"symbol":"DNT","name":"district0x","image":"https://shapeshift.io/images/coins/district0x.png","imageSmall":"https://shapeshift.io/images/coins-sm/district0x.png","status":"unavailable","minerFee":95.772},"DOGE":{"symbol":"DOGE","name":"Dogecoin","image":"https://shapeshift.io/images/coins/dogecoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/dogecoin.png","status":"available","minerFee":2},"ETH":{"symbol":"ETH","name":"Ether","image":"https://shapeshift.io/images/coins/ether.png","imageSmall":"https://shapeshift.io/images/coins-sm/ether.png","status":"available","minerFee":0.0022},"ETC":{"symbol":"ETC","name":"Ether
        Classic","image":"https://shapeshift.io/images/coins/etherclassic.png","imageSmall":"https://shapeshift.io/images/coins-sm/etherclassic.png","status":"available","minerFee":0.001},"FCT":{"symbol":"FCT","name":"Factoids","image":"https://shapeshift.io/images/coins/factoids.png","imageSmall":"https://shapeshift.io/images/coins-sm/factoids.png","status":"unavailable","minerFee":0.1},"GAME":{"symbol":"GAME","name":"GameCredits","image":"https://shapeshift.io/images/coins/game.png","imageSmall":"https://shapeshift.io/images/coins-sm/game.png","status":"unavailable","minerFee":0.2},"GNT":{"symbol":"GNT","name":"Golem","image":"https://shapeshift.io/images/coins/golem.png","imageSmall":"https://shapeshift.io/images/coins-sm/golem.png","status":"available","minerFee":5.7742},"GUP":{"symbol":"GUP","name":"Matchpool","image":"https://shapeshift.io/images/coins/matchpool.png","imageSmall":"https://shapeshift.io/images/coins-sm/matchpool.png","status":"available","minerFee":17.0519},"KMD":{"symbol":"KMD","name":"Komodo","image":"https://shapeshift.io/images/coins/komodo.png","imageSmall":"https://shapeshift.io/images/coins-sm/komodo.png","status":"available","minerFee":0.002},"LBC":{"symbol":"LBC","name":"LBRY
        Credits","image":"https://shapeshift.io/images/coins/lbry.png","imageSmall":"https://shapeshift.io/images/coins-sm/lbry.png","status":"available","minerFee":0.02},"LSK":{"symbol":"LSK","name":"Lisk","image":"https://shapeshift.io/images/coins/lisk.png","imageSmall":"https://shapeshift.io/images/coins-sm/lisk.png","status":"unavailable","minerFee":null},"LTC":{"symbol":"LTC","name":"Litecoin","image":"https://shapeshift.io/images/coins/litecoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/litecoin.png","status":"available","minerFee":0.00075},"MAID":{"symbol":"MAID","name":"Maidsafe","image":"https://shapeshift.io/images/coins/maidsafe.png","imageSmall":"https://shapeshift.io/images/coins-sm/maidsafe.png","status":"unavailable","minerFee":null},"MANA":{"symbol":"MANA","name":"Decentraland","image":"https://shapeshift.io/images/coins/decentraland.png","imageSmall":"https://shapeshift.io/images/coins-sm/decentraland.png","status":"available","minerFee":20},"MONA":{"symbol":"MONA","name":"Monacoin","image":"https://shapeshift.io/images/coins/monacoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/monacoin.png","status":"unavailable","minerFee":0.01},"MSC":{"symbol":"MSC","name":"Omni","image":"https://shapeshift.io/images/coins/mastercoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/mastercoin.png","status":"unavailable","minerFee":null},"NBT":{"symbol":"NBT","name":"Nubits","image":"https://shapeshift.io/images/coins/nubits.png","imageSmall":"https://shapeshift.io/images/coins-sm/nubits.png","status":"unavailable","minerFee":null},"NEO":{"symbol":"NEO","name":"Neo","image":"https://shapeshift.io/images/coins/neo.png","imageSmall":"https://shapeshift.io/images/coins-sm/neo.png","status":"unavailable","minerFee":0},"NMC":{"symbol":"NMC","name":"Namecoin","image":"https://shapeshift.io/images/coins/namecoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/namecoin.png","status":"unavailable","minerFee":0.005},"XEM":{"symbol":"XEM","name":"NEM","specialReturn":false,"specialOutgoing":true,"specialIncoming":false,"fieldName":"Message","fieldKey":"destTag","image":"https://shapeshift.io/images/coins/nem.png","imageSmall":"https://shapeshift.io/images/coins-sm/nem.png","status":"unavailable","minerFee":4},"NMR":{"symbol":"NMR","name":"Numeraire","image":"https://shapeshift.io/images/coins/numeraire.png","imageSmall":"https://shapeshift.io/images/coins-sm/numeraire.png","status":"available","minerFee":0.3658},"NVC":{"symbol":"NVC","name":"Novacoin","image":"https://shapeshift.io/images/coins/novacoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/novacoin.png","status":"unavailable","minerFee":0.1},"NXT":{"symbol":"NXT","name":"Nxt","specialReturn":false,"image":"https://shapeshift.io/images/coins/nxt.png","imageSmall":"https://shapeshift.io/images/coins-sm/nxt.png","status":"available","minerFee":1},"OMG":{"symbol":"OMG","name":"OmiseGo","image":"https://shapeshift.io/images/coins/omisego.png","imageSmall":"https://shapeshift.io/images/coins-sm/omisego.png","status":"available","minerFee":0.2543},"POT":{"symbol":"POT","name":"Potcoin","image":"https://shapeshift.io/images/coins/potcoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/potcoin.png","status":"unavailable","minerFee":0.01},"PPC":{"symbol":"PPC","name":"Peercoin","image":"https://shapeshift.io/images/coins/peercoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/peercoin.png","status":"unavailable","minerFee":0.01},"QTUM":{"symbol":"QTUM","name":"Qtum","image":"https://shapeshift.io/images/coins/qtum.png","imageSmall":"https://shapeshift.io/images/coins-sm/qtum.png","status":"available","minerFee":0.02},"REP":{"symbol":"REP","name":"Augur","image":"https://shapeshift.io/images/coins/augur.png","imageSmall":"https://shapeshift.io/images/coins-sm/augur.png","status":"available","minerFee":0.0634},"RDD":{"symbol":"RDD","name":"Reddcoin","image":"https://shapeshift.io/images/coins/reddcoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/reddcoin.png","status":"available","minerFee":1},"RCN":{"symbol":"RCN","name":"RCN","image":"https://shapeshift.io/images/coins/rcn.png","imageSmall":"https://shapeshift.io/images/coins-sm/rcn.png","status":"available","minerFee":25.4089},"RLC":{"symbol":"RLC","name":"iExec","image":"https://shapeshift.io/images/coins/iexec.png","imageSmall":"https://shapeshift.io/images/coins-sm/iexec.png","status":"available","minerFee":2.2288},"SALT":{"symbol":"SALT","name":"Salt","image":"https://shapeshift.io/images/coins/salt.png","imageSmall":"https://shapeshift.io/images/coins-sm/salt.png","status":"available","minerFee":1.9117},"SC":{"symbol":"SC","name":"Siacoin","image":"https://shapeshift.io/images/coins/siacoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/siacoin.png","status":"available","minerFee":5.588},"SNT":{"symbol":"SNT","name":"Status","image":"https://shapeshift.io/images/coins/status.png","imageSmall":"https://shapeshift.io/images/coins-sm/status.png","status":"available","minerFee":48.605},"STORJ":{"symbol":"STORJ","name":"Storj","image":"https://shapeshift.io/images/coins/storj.png","imageSmall":"https://shapeshift.io/images/coins-sm/storj.png","status":"available","minerFee":3.1621},"STEEM":{"symbol":"STEEM","name":"Steem","specialReturn":false,"specialOutgoing":true,"specialIncoming":true,"fieldName":"destTag","fieldKey":"destTag","image":"https://shapeshift.io/images/coins/steem.png","imageSmall":"https://shapeshift.io/images/coins-sm/steem.png","status":"unavailable","minerFee":null},"SWT":{"symbol":"SWT","name":"Swarm
        City","image":"https://shapeshift.io/images/coins/swarmcity.png","imageSmall":"https://shapeshift.io/images/coins-sm/swarmcity.png","status":"unavailable","minerFee":3.2027},"VOX":{"symbol":"VOX","name":"Voxels","image":"https://shapeshift.io/images/coins/voxels.png","imageSmall":"https://shapeshift.io/images/coins-sm/voxels.png","status":"unavailable","minerFee":0.01},"VRC":{"symbol":"VRC","name":"Vericoin","image":"https://shapeshift.io/images/coins/vericoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/vericoin.png","status":"unavailable","minerFee":0.0002},"VTC":{"symbol":"VTC","name":"Vertcoin","image":"https://shapeshift.io/images/coins/vertcoin.png","imageSmall":"https://shapeshift.io/images/coins-sm/vertcoin.png","status":"available","minerFee":0.02},"WINGS":{"symbol":"WINGS","name":"Wings","image":"https://shapeshift.io/images/coins/wings.png","imageSmall":"https://shapeshift.io/images/coins-sm/wings.png","status":"unavailable","minerFee":6.2128},"XMR":{"symbol":"XMR","name":"Monero","specialReturn":false,"specialOutgoing":true,"specialIncoming":true,"fieldName":"Payment
        Id","qrName":"tx_payment_id","fieldKey":"paymentId","image":"https://shapeshift.io/images/coins/monero.png","imageSmall":"https://shapeshift.io/images/coins-sm/monero.png","status":"available","minerFee":0.02},"XRP":{"symbol":"XRP","name":"Ripple","specialReturn":false,"specialOutgoing":true,"specialIncoming":true,"fieldName":"Destination
        Tag","fieldKey":"destTag","image":"https://shapeshift.io/images/coins/ripple.png","imageSmall":"https://shapeshift.io/images/coins-sm/ripple.png","status":"available","minerFee":0.15},"ZEC":{"symbol":"ZEC","name":"Zcash","image":"https://shapeshift.io/images/coins/zcash.png","imageSmall":"https://shapeshift.io/images/coins-sm/zcash.png","status":"available","minerFee":0.0001},"ZRX":{"symbol":"ZRX","name":"0x","image":"https://shapeshift.io/images/coins/0x.png","imageSmall":"https://shapeshift.io/images/coins-sm/0x.png","status":"available","minerFee":1.5242}}'
  recorded_at: Tue, 06 Nov 2018 20:25:55 GMT
[...]
